@import '../fonts/fonts.css';
@import 'bootstrap.min.css';

html,body{
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font-family: Lato, sans-serif;
}

/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.sticky-container {
	height: 150vh;
}

/**TOPPER**/
header {
	min-height: 33.33vw;
}

@media only screen and (max-width: 600px) {

	header {
		min-height: 133vw;
	}
}

.head-all-text-container {
	height: 33.33vw;
	padding: 30px;
}

.header-background {
	position: absolute;
	top: 0;
	z-index: -100;
}

.head-text-container {
	display: flex;
	flex-direction: column;
}

.hed-text {
	font-weight: 300;
	margin: 0;
}

.deck-container { 
	width: 30vw;
	margin-bottom: 20px;
}

.deck {
	font-size: 1rem;
}

.byline-container {
/*	background-color: rgb(0, 0, 0, .6);*/
	display: inline-block;
}

.byline-container > p {
	margin: 0;
}

/*.social-media-container {
	display: flex;
	flex-direction: row;
	width: 280px;
	margin: -20px auto 40px auto;
	justify-content: space-evenly;
}

.social-media-icon {
	width: 20px;
	margin: 3px;
}*/






/*.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}*/

/*idk why but the page does not like this block
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
*/



.stripe {
	display: block;
	height: 10px;
	background-color: #FFC000;
	width: 100%;
	transform: scaleX(0);  
	transition: transform 2s ease-in-out;
}

/** Looping Background Video **/
.looping-background-video{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}
.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
}
@media (min-aspect-ratio:16/9){
	.looping-background-video video{
		width: 100vw;
		height: auto;
	}
}


/*.looping-background-video{
	position: sticky;
	top: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	
	color: #fff; 						 make text color white 
}
.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
}
@media (min-aspect-ratio:16/9){
	.looping-background-video video{
		width: 100vw;
		height: auto;
	}
}*/

/*.byline-container {
	position: absolute;
	top: 80vh;
	left: 50px;
}*/

.byline-text {
	background-color: transparent;
	color: #FFC000;
	font-family: Lato, sans-serif;
	opacity: 0;
}

/** water container illos with animated water streams on scroll **/
.water-flows-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	margin: 40px 0 40px 0;
}

.water-stream-container {
	display: flex;
	flex-direction: column;
}

.container-illo {
	width: 80px;
	margin-bottom: 10px;
}

.yellow{
  background-color: #FFDE00;
}

/** side by side images/videos **/
.side-by-side-container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	margin: 0 calc(50% - 50vw) 30px calc(50% - 50vw);
}

.side-by-side-container > .visual-container {
	width: 50vw;
	height: 33.33vw;
}

.side-by-side-container > .image-container {
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
}

.side-by-side-container > .video-container {
	overflow: hidden;
    justify-content: center;
    align-items: center;
}

.side-by-side-container > .visual-container > img, .visual-container > video {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
}

@media only screen and (max-width: 600px) {
  .side-by-side-container {
  	flex-direction: column;
  }

  .visual-container {
  	width: 100vw;
  }
}


/** Sticky for scrollytelling layout **/
[data-sticky-graphic] {
	top: 35%;
}