@import '../fonts/fonts.css';
@import 'bootstrap.min.css';

html,body{
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6{
	font-family: Lato, sans-serif;
}

/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.sticky-container {
	height: 150vh;
}

.hed-text-container {
	margin: 100px;
}

.hed-text {
	font-weight: 500;
	opacity: 0;
}

.deck {
	opacity: 0;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*idk why but the page does not like this block
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
*/

.deck-container { 
	display:inline-block; 
	margin: -80vh 0 0 100px;
	width: 250px;
}

.deck {
	margin: 15px;
}

.stripe {
	display: block;
	height: 10px;
	background-color: #FFC000;
	width: 100%;
	transform: scaleX(0);  
	transition: transform 2s ease-in-out;
}

/** Looping Background Video **/
.looping-background-video{
	position: -webkit-sticky; /* Safari */  
	position: sticky;
	top: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}
.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
}
@media (min-aspect-ratio:16/9){
	.looping-background-video video{
		width: 100vw;
		height: auto;
	}
}

.byline-container {
	margin: 50px 0 0 150px;
}

.byline-text {
	color: #FFC000;
	font-family: Lato, sans-serif;
	opacity: 0;
}


/** Sticky for scrollytelling layout **/
[data-sticky-graphic] {
	top: 35%;
}