@import '../fonts/fonts.css';
@import 'bootstrap.min.css';

:root {
	--primary-yellow: #FFDE00;
}

html,body{
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font-family: Lato, sans-serif;
}

h2 {
	margin-top: 50px;
}

/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.sticky-container {
	height: 150vh;
}


/*############################################################*/
/**TOPPER**/
/*############################################################*/
header {
	min-height: 33.33vw;
}

@media only screen and (max-width: 600px) {

	header {
		min-height: 133vw;
	}
}

.head-all-text-container {
	height: 33.33vw;
	padding: 30px;
}

.header-background {
	position: absolute;
	top: 0;
	z-index: -100;
}

.head-text-container {
	display: flex;
	flex-direction: column;
}

.hed-text {
	font-weight: 300;
	margin: 0;
}

.deck-container { 
	width: 30vw;
	margin-bottom: 20px;
}

.deck {
	font-size: 1rem;
}

.byline-container {
/*	background-color: rgb(0, 0, 0, .6);*/
	display: inline-block;
}

.byline-container > p {
	margin: 0;
}


/*############################################################*/
/** Looping Background Video **/
/*############################################################*/
.looping-background-video{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}
.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
}
@media (min-aspect-ratio:16/9){
	.looping-background-video video{
		width: 100vw;
		height: auto;
	}
}


/*############################################################*/
/*span highlight for scrolly map*/
/*############################################################*/
.yellow{
  background-color: var(--primary-yellow);
}


/*############################################################*/
/*Pull quotes*/
/*############################################################*/
.pull-quote-container {
	margin: 40px auto;
	padding: 30px;
	border-top: solid 15px var(--primary-yellow);
	border-left: solid 15px var(--primary-yellow);
}

.pull-quote {
	margin: 0;
}

.pull-quote-source {
	margin: 0;
}


/*############################################################*/
/*Subhead*/
/*############################################################*/

.subhead {
	font-family: 'League Spartan', sans-serif;
	text-align: center;
}

.subhead-decor {
	color: var(--primary-yellow);
}

/*############################################################*/
/*Chapter title (whatsapp only one that isn't in a video*/
/*############################################################*/

.chapter-title {
	font-family: 'League Spartan', sans-serif;
	font-size: calc(2.4rem + .9vw);
    line-height: .8;
}



/*############################################################*/
/*WhatsApp Section*/
/*############################################################*/
.yellow-banner {
	width: 100vw;
	margin:1em -100%; /* old browsers fallback */
	margin:1em calc(50% - 50vw);
	background-color: var(--primary-yellow);
	padding: 30px;
	justify-content: center;
	overflow: hidden;
}

.chat-container-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.bubble-container {
	width: 20vw;
	margin: 0;
}

.chat-container-embed {
	position: absolute;
	left: 30px;
}

.speech-bubble {
  background: #efefef;
  border-radius: 8px;
  font-size: .9rem;
  line-height: 1.1;
  margin: 0;
  max-width: 300px;
  padding: 15px;
  position: relative;
  margin-left: 20px;
  filter: drop-shadow(4px 4px 1px #04b2f2);
  opacity: 0;
}

.speech-bubble > p {
	margin: 0;
}

#chat-2, #chat-4 {
	margin-top: 30px;
}

#chat-7, #chat-9 {
	margin-left: 30px;
}

.embed {
	margin-bottom: 40px;
	margin-left: 0;
}

.fade-in {
	opacity: 1;
	animation: fadeIn 3s;
	-webkit-animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
	-o-animation: fadeIn 3s;
	-ms-animation: fadeIn 3s;
}

.speech-bubble-banner:after {
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
}

.speech-bubble:after {
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/*############################################################*/
/*dinkus*/
/*############################################################*/
.section-break {
	margin-top: -50px;
	justify-content: center;
	display: flex;
}

.dinkus {
	width: 400px;
	height: 300px;
}


/*############################################################*/
/** side by side images/videos **/
/*############################################################*/
.side-by-side-container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	margin: 0 calc(50% - 50vw) 30px calc(50% - 50vw);
}

.side-by-side-container > .visual-container {
	width: 50vw;
	height: 33.33vw;
}

.side-by-side-container > .image-container {
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
}

.side-by-side-container > .video-container {
	overflow: hidden;
    justify-content: center;
    align-items: center;
}

.side-by-side-container > .visual-container > img, .visual-container > video {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
}


/*############################################################*/
/*Footer*/
/*############################################################*/

.footer {
	min-height: auto;
}



/*############################################################*/
/*All other device handling*/
/*############################################################*/
@media only screen and (max-width: 600px) {
  .side-by-side-container {
  	flex-direction: column;
  }

  .visual-container {
  	width: 100vw;
  }

  .chat-container-embed {
  	display: relative;
  	margin: 20px 0 20px 0;
  }

  .dinkus {
  	max-width: 90vw;
  }
}

@media only screen and (max-width: 1160px) {

  .chat-container-embed {
  	position: relative;
  	margin: 20px 0 20px 0;
  }
}










